<%= form_for @activity, html: { class: 'form-horizontal' } do |f| %>
<div class="control-group">
    <div class="controls">
      <%= f.text_field :name, :class => 'main-curved', :placeholder => '  training name' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <div class="file-input-wrapper">
        <%= f.button "  .ctx training file", :class => 'main-button-file-upload main-curved' %>
        <%= f.file_field :gpx,  :class => 'main-file-upload' %>
      </div>
    </div>
  </div>
  <div class="centered_div">
    <%= f.submit "Submit", :class => 'btn btn-submit' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                activities_path, :class => 'btn btn-primary' %>
  </div>
<% end %>
