<div class="main-header">
  <%= image_tag("unnamed.png", class: "main-logo")%>
</div>

<div class="main-background index-background">
  <div class="main-title index-title">
    <%=t '.title', default: "Tell us about your training" %>
  </div>

  <div class = "centered_div">
    <%= link_to t('.new', default: "add new training"),
              new_activity_path,
              class: 'btn btn-primary btn-index-main btn-margin' %>
  </div>
</div>

<div class="main-title small-title centered_div">
  <%=t '.title', default: "What you achieved recently" %>
</div>

<%- model_class = Activity -%>
<div class="training_container">
<table class="main-table">
  <tbody>
    <% @activities.each do |activity| %>
      <tr class="main-table">
        <td class="main-table trainings_table"><%= activity.id %></td>
        <td class="main-table trainings_table"><%= activity.name %></td>
        <td class="main-table trainings_table"><%= activity.sport %></td>
        <td class="main-table trainings_table"><%= activity.laps.count %> laps</td>
        <td class="main-table trainings_table">
          <%= link_to activity_path(activity), class: 'details-btn', title: "Details" do %>
              details
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
