<div class="main-header">
  <%= image_tag("unnamed.png", class: "main-logo")%>
</div>


<%- model_class = Activity -%>

<div class="training_container training_info">
  <div class="training-title">
    <%=t '.title', default: @activity.name, model: model_class.model_name.human.titleize %>
    <div class="main-title sport-title">
      <%=t '.title', default: @activity.sport, model: model_class.model_name.human.titleize %>
    </div>
  </div>
</div>

<div class="main-title laps-title centered_div">
  <%=t '.title', default: "Laps" %>
</div>

<div class="fieldset">
  <dl>
      <dd><pre class="prettyprint"></pre>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Start time</th>
              <th>Total time (in seconds)</th>
              <th>Distance (in meters)</th>
              <th>Maximum speed</th>
              <th>Intensity</th>
            </tr>
          </thead>
          <tbody>
            <% @activity.laps.each do |lap| %>
              <tr>
                <td><%= lap.id %></td>
                <td><%= lap.start_time %></td>
                <td><%= lap.lap_summary.total_time_seconds %></td>
                <td><%= lap.lap_summary.distance_meters %></td>
                <td><%= lap.lap_summary.maximum_speed %></td>
                <td><%= lap.lap_summary.intensity %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </dd>
  </dl>
</div>

<%#<div class="form-group">%>
<div class="centered_div">
  <%= link_to t('.back', default: t("helpers.links.back")),
              activities_path, class: 'btn btn-default btn-training'  %>
  <%#<%= link_to t('.edit', default: t("helpers.links.edit")),
              edit_activity_path(@activity), class: 'btn btn-default' %>
  <%#<%= link_to t('.destroy', default: t("helpers.links.destroy")),%>
              <%#activity_path(@activity),%>
              <%#method: 'delete',%>
              <%#data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },%>
              <%#class: 'btn btn-danger' %>
</div>